<div>
  <h4>Expense</h4>

  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit(); clear">

  <label>
    Name:
    <input id="nameBox" formControlName="name" placeholder="N">
  </label>

  <label>
    Quant.:
    <input formControlName="quantity" placeholder="Q">
  </label>

  <label>
    Price:
    <input formControlName="price" placeholder="P">
  </label>

  <label>
    Cat.:
    <input formControlName="category" placeholder="C">
  </label>

  <button type="submit" >Submit</button>
</form>


  <button (click)="SaveExpense(); ">Add Expense</button>
</div>
