<button (click)="inputExpenses=true">Enter Bill</button>
<div *ngIf="inputExpenses">
  <p>
    <strong>Add a new Bill</strong>
  </p>

  <label>Date: </label>
  <input #date>

  <label>Vendor: </label>
  <input #vendor>
<!--
  <div>Sum: {{bill.sum}}</div> -->

  <app-expense-input (addRequest)="AddExpense($event)"></app-expense-input>

  <p>Expenses:</p>
  <div *ngFor="let expense of expenses">{{expense.name}}; {{expense.quantity}}; {{expense.price}}; {{expense.category}}</div>
  <button *ngIf="inputExpenses" (click)="inputExpenses=false">Save Bill</button>
</div>
